<!-- Footer Include !-->
<footer class="template-footer">

	<div class="wrapper clearfix">
	        <div class="responsivecolumns columns-two-50-50">
	            <div class="column columns-two-left">
	                
	                {{widget('profile', 'footercolumn1', { 'profileType':'address', 'address':'profile', 'refreshtime':'1800000'})|raw}}
	            </div>
	            <div class="column columns-two-right">

	                {{widget('profile', 'footercolumn2', { 'profileType':'copyright', 'copyright':'profile', 'refreshtime':'1800000'})|raw}}

	                {{widget('profile', 'bottomsocialicons', { 'profileType':'socialicons','socialicons':'profile'})|raw}}
	            </div>
	        </div>
	    </div>
	
</footer>

