<!-- Header Include !-->
<header class="template-header clearfix">

	<div class="wrapper clearfix">

		<div class="company-info">
			{{widget('logo', 'thisunqiuewidgetname', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</div>

		<div class="nav">
			{{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
		</div>

	</div>

</header>



